---
import "~/styles/globals.css"
import PostHog from '../components/posthog.astro';
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const dev = !import.meta.env.PROD
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<meta name="generator" content={Astro.generator} />
		<title>Projekte der Schüler von Nachhaltige Webentwicklung - Hackclub Stade</title>
	</head>
	<body class="min-h-screen geist-500">
		<script>
			// Apply dark mode class based on localStorage
			if (localStorage.getItem("theme") === "dark") {
				document.body.classList.add("dark");
			}
		</script>
		<PostHog />
		<Header beta={dev} />
    <main class="min-h-[70vh]">
      <slot />
    </main>
    <Footer beta={dev} />
	</body>
</html>
